.sidebar {
    width: 240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color:#f6f7f8;
    left: 0;
    transition: left 0.5s ease;
  }
  .toggler {
    width: 36px;
    height: 36px;
    border-radius: 10px;
    position: fixed;
    top: 0.9375rem;
    left: 12px;
    height: 2.25rem;
    width: 2.25rem;
    padding: 0.5rem;
    border: 1px solid #e2e6eb;
    outline: none;
    transition: background-color 0.35s ease;
    box-shadow: none;
    z-index: 5;
    cursor: pointer;
    border: 1px solid #e2e6eb;
    box-shadow: 0px 0px 2px rgb(10 31 51 / 20%), 0px 8px 12px rgb(10 31 51 / 4%);
    background-color: #fff;
  }
  .selecteddiv{
    padding: 6px 16px;
    background-color:#3070F01F;
    display: flex;
    color:#3070f0;
    border-radius: 10px;
    margin: 0px 12px;
    align-items: center;
  }
  .selecteddiv >:nth-child(1){
    margin: 0px 12px 0px 0px ;
  }
  .selecteddiv>span {
    font-size: 14px;
    font-weight: 500;
  }
  .normaldiv {
    padding: 6px 16px;
    display: flex;
    /* color: #3070f0; */
    border-radius: 10px;
    margin: 0px 12px;
    align-items: center;
  }
  
  .normaldiv>:nth-child(1) {
    margin: 0px 12px 0px 0px;
  }
  
  .normaldiv>span {
    font-size: 14px;
    font-weight: 500;
  }
  .AMWdiv{
      padding: 6px 16px;
      font-weight:500;
      border-radius: 10px;
      margin: 0px 12px;
      align-items: center;
  }
  .droop{
    background-color: #fff;
  }
  /* :root {
    --bg: #3070f0;
    --bg-accent: #3070f0;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #3070f0;
    --border-radius: 8px;
    --speed: 500ms;
    --menu-item-width: 14rem;
  } */
  
  /* :root {
   
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
    --menu-item-width: 14rem;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .css-r6z5ec {
    overflow: hidden;
    transition: height 500ms ease;
  }
  
  .chakra-menu__menu-list {
    transition: height 500ms ease;
  }
  
  /* chakra ui menu item */
  /* .css-593qcw {
    width: var(--menu-item-width) !important;
  }
  
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-secondary-exit {
  }
  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  } */
   